Repository hata33/react-vite5-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, git add ., stylelint "**/*.{css,scss,html}" --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "git add ."],
  "src/**/*.{css,scss}": ["stylelint  \"**/*.{css,scss,html}\" --fix", "git add ."],
  "*.{json,md}": ["prettier --write", "git add ."]
}

feat: 新增axios 网络请求
  src/api/apiClient.ts
Due: eslint --fix, git add .

feat: 配置zustand axios
  .env
  src/api/apiClient.ts
  src/api/todoService.ts
  src/main.tsx
  src/pages/test/ReactQuery.tsx
  src/pages/test/Zustand.tsx
  src/router/index.tsx
  src/store/index.ts
Due: eslint --fix, git add .

feat: i18n develop
  .gitignore
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/components/app/AppLocalePicker.tsx
  src/components/app/index.ts
  src/components/icon/SvgIcon.tsx
  src/components/icon/index.ts
  src/locales/i18n.ts
  src/locales/lang/en/common.json
  src/locales/lang/en/index.ts
  src/locales/lang/en/sys.json
  src/locales/lang/zh-CN/common.json
  src/locales/lang/zh-CN/index.ts
  src/locales/lang/zh-CN/sys.json
  src/main.tsx
  src/pages/Dashboard.tsx
  src/pages/sys/login/Login.tsx
  src/pages/sys/login/LoginForm.tsx
  src/pages/sys/login/MobileForm.tsx
  src/pages/sys/login/QrCodeForm.tsx
  src/pages/sys/login/RegisterForm.tsx
  src/pages/sys/login/ResetForm.tsx
  src/pages/sys/login/components/ReturnButton.tsx
  tsconfig.node.json
Due: eslint --fix, git add ., prettier --write

feat: login route config
  .env
  .env.development
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/api/apiClient.ts
  src/api/services/userService.ts
  src/api/todoService.ts
  src/locales/i18n.ts
  src/locales/lang/en/sys.json
  src/locales/lang/zh-CN/sys.json
  src/main.tsx
  src/pages/sys/login/Login.tsx
  src/pages/sys/login/LoginForm.tsx
  src/pages/sys/login/providers/LoginStateProvider.tsx
  src/pages/test/ReactQuery.tsx
  src/pages/test/Zustand.tsx
  src/router/AuthenticatedRoute.tsx
  src/router/UnauthenticatedRoute.tsx
  src/router/index.tsx
  src/store/userStore.ts
  src/theme/antd/theme.ts
  src/utils/storage.ts
  tsconfig.json
  tsconfig.node.json
  types/api.ts
  types/axios.ts
  types/entity.ts
  types/enum.ts
  vite.config.ts
Due: eslint --fix, git add ., prettier --write

feat: 添加 msw mock 数据
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
  src/_mock/assets.js
  src/_mock/handlers/_demo.js
  src/_mock/handlers/_org.js
  src/_mock/handlers/_user.js
  src/_mock/index.js
  src/_mock/utils.js
  src/api/services/userService.ts
  src/main.tsx
  types/entity.ts
  types/enum.ts
  vite.config.ts
Due: eslint --fix, git add ., prettier --write

feat: 添加生产环境变量
  .env.production
Due: none

feat: 配置 vercel 重定向
  vercel.json
Due: git add ., prettier --write

feat: layout
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/layouts/header/index.module.scss
  src/layouts/header/index.tsx
  src/layouts/index.tsx
  src/layouts/sider/index.tsx
  src/main.tsx
  src/pages/sys/login/Login.tsx
  src/pages/sys/login/LoginForm.tsx
  src/router/AuthenticatedRoute.tsx
  src/router/UnauthenticatedRoute.tsx
  src/router/index.tsx
  src/theme/antd/theme.ts
  tailwind.config.js
Due: eslint --fix, git add ., stylelint "**/*.{css,scss,html}" --fix, prettier --write

feat: menu
  README.md
  src/assets/icons/ic-analytics.svg
  src/components/app/AppLocalePicker.tsx
  src/components/app/Loading.tsx
  src/layouts/header/index.module.scss
  src/layouts/header/index.tsx
  src/layouts/index.tsx
  src/layouts/sidebar/index.tsx
  src/layouts/sider/index.tsx
  src/locales/lang/en/sys.json
  src/locales/lang/zh-CN/sys.json
  src/pages/Dashboard.tsx
  src/pages/sys/login/Login.tsx
  src/router/index.tsx
Due: eslint --fix, git add ., stylelint "**/*.{css,scss,html}" --fix, prettier --write

feat: 配置菜单折叠按钮
  src/layouts/index.tsx
  src/layouts/sidebar/index.tsx
  tailwind.config.js
Due: eslint --fix, git add .

feat: logout userSetting
  README.md
  src/api/apiClient.ts
  src/api/services/userService.ts
  src/layouts/header/UserSetting.tsx
  src/layouts/header/index.tsx
  src/pages/sys/login/LoginForm.tsx
  src/pages/sys/login/RegisterForm.tsx
  src/store/userStore.ts
Due: eslint --fix, git add ., prettier --write

feat: dynamic router menu
  src/App.tsx
  src/api/services/userService.ts
  src/layouts/content/index.tsx
  src/layouts/index.tsx
  src/layouts/sidebar/index.tsx
  src/main.tsx
  src/pages/Dashboard.tsx
  src/pages/dashboard/analysis.tsx
  src/pages/dashboard/workbench.tsx
  src/pages/management/blog.tsx
  src/pages/management/user.tsx
  src/router/index.tsx
  src/router/menus/index.ts
  src/router/routes/AuthRouter.tsx
  src/router/routes/index.tsx
  src/router/routes/modules/dashboard.tsx
  src/router/routes/modules/management.tsx
  types/router.ts
Due: eslint --fix, git add .

feat: 添加图片资源
  src/assets/images/background/cyan-blur.png
  src/assets/images/background/dashboard.png
  src/assets/images/background/overlay_2.jpg
  src/assets/images/background/red-blur.png
  src/assets/images/characters/character_3.png
  src/assets/images/characters/character_4.png
  src/assets/images/characters/character_5.png
  src/assets/images/characters/character_6.png
  src/assets/images/characters/character_8.png
  src/assets/images/cover/cover_3.jpg
  src/assets/images/cover/cover_4.jpg
  src/assets/images/cover/profile-banner.png
  src/assets/images/glass/ic_glass_bag.png
  src/assets/images/glass/ic_glass_buy.png
  src/assets/images/glass/ic_glass_message.png
  src/assets/images/glass/ic_glass_users.png
  src/assets/images/logo.png
Due: none

feat: 修改图片路径
  src/pages/sys/login/Login.tsx
Due: eslint --fix, git add .

feat: 添加 README
  README.md
  src/_mock/handlers/_user.js
  src/pages/sys/login/Login.tsx
  src/router/routes/index.tsx
Due: eslint --fix, git add ., prettier --write

feat: BreadCrumb route -> menu
  src/layouts/content/BreadCrumb.tsx
  src/layouts/content/index.tsx
  src/layouts/header/UserSetting.tsx
  src/layouts/sidebar/index.tsx
  src/locales/lang/zh-CN/sys.json
  src/pages/sys/login/LoginForm.tsx
  src/router/routes/modules/dashboard.tsx
  src/router/routes/modules/management.tsx
  src/store/userStore.ts
  types/router.ts
Due: eslint --fix, git add ., prettier --write

feat: setting i18n
  src/layouts/header/UserSetting.tsx
  src/layouts/sidebar/index.tsx
  src/locales/lang/zh-CN/sys.json
Due: eslint --fix, git add ., prettier --write

feat: top progress bar
  package.json
  pnpm-lock.yaml
  src/components/app/Progress.tsx
  src/components/app/index.ts
  src/layouts/index.tsx
Due: eslint --fix, git add ., prettier --write

feat: dark style theme
  src/App.tsx
  src/components/app/AppLocalePicker.tsx
  src/layouts/header/Settings.tsx
  src/layouts/header/UserAvatar.tsx
  src/layouts/header/index.tsx
  src/layouts/index.tsx
  src/layouts/sidebar/index.tsx
  src/main.tsx
  src/store/settingStore.ts
  src/theme/antd/theme.ts
Due: eslint --fix, git add .

feat: screenfull
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/components/icon/SvgIcon.tsx
  src/layouts/header/Settings.tsx
Due: eslint --fix, git add ., prettier --write

feat: layout setting
  src/components/app/Logo.tsx
  src/layouts/header/Settings.tsx
  src/layouts/header/index.tsx
  src/layouts/index.tsx
  src/layouts/sidebar/TopMenu.tsx
  src/layouts/sidebar/index.tsx
Due: eslint --fix, git add .

perf: ui
  src/layouts/content/index.tsx
  src/layouts/index.tsx
  src/pages/dashboard/workbench.tsx
  src/router/routes/index.tsx
Due: eslint --fix, git add .

perf: layout
  src/components/app/Logo.tsx
  src/layouts/content/index.tsx
  src/layouts/header/Settings.tsx
  src/layouts/header/index.tsx
  src/layouts/index.tsx
  src/layouts/sidebar/index.tsx
  src/theme/antd/theme.ts
  types/enum.ts
Due: eslint --fix, git add .

perf: layout
  src/App.tsx
  src/layouts/header/index.tsx
  src/layouts/index.tsx
  src/layouts/sidebar/TopMenu.tsx
  src/layouts/sidebar/index.tsx
  src/theme/antd/theme.ts
Due: eslint --fix, git add .

refactor: progress bar
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/_mock/assets.js
  src/components/app/AppLocalePicker.tsx
  src/components/app/Progress.tsx
  src/components/app/index.ts
  src/components/app/progress-bar/index.tsx
  src/layouts/index.tsx
  src/main.tsx
  src/router/hooks/index.ts
  src/router/hooks/use-params.ts
  src/router/hooks/use-pathname.ts
  src/router/hooks/use-router.ts
  src/router/hooks/use-search-params.ts
Due: eslint --fix, git add ., prettier --write

refactor: file structure
  src/components/app/index.ts
  src/components/loading/loading.tsx
  src/components/locale-picker/index.tsx
  src/components/logo/index.tsx
  src/components/progress-bar/index.tsx
  src/layouts/header/index.tsx
  src/layouts/index.tsx
  src/layouts/sidebar/index.tsx
  src/pages/sys/login/Login.tsx
  src/router/routes/modules/dashboard.tsx
  src/router/routes/modules/management.tsx
Due: eslint --fix, git add .

refactor: router
  src/components/icon/SvgIcon.tsx
  src/components/loading/index.tsx
  src/router/components/AuthRouter.tsx
  src/router/routes/AuthRouter.tsx
  src/router/routes/index.tsx
  src/router/routes/modules/dashboard.tsx
  src/router/routes/modules/management.tsx
Due: eslint --fix, git add .

refactor: themeProvider
  .lintstagedrc.json
  src/App.tsx
  src/theme/hooks/index.ts
  src/theme/hooks/use-theme-token.ts
  src/theme/index.tsx
Due: eslint --fix, git add ., prettier --write

feat: add framer motion
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/animate/motion-container.tsx
  src/components/animate/motion-lazy.tsx
  src/components/animate/types.ts
  src/components/animate/variants/action.ts
  src/components/animate/variants/background.ts
  src/components/animate/variants/bounce.ts
  src/components/animate/variants/container.ts
  src/components/animate/variants/fade.ts
  src/components/animate/variants/flip.ts
  src/components/animate/variants/index.ts
  src/components/animate/variants/path.ts
  src/components/animate/variants/rotate.ts
  src/components/animate/variants/scale.ts
  src/components/animate/variants/slide.ts
  src/components/animate/variants/transition.ts
  src/components/animate/variants/zoom.ts
  src/pages/sys/error/Page404.tsx
  src/router/index.tsx
  src/router/routes/index.tsx
Due: eslint --fix, git add ., prettier --write

feat: add react-helmet-async
  package.json
  pnpm-lock.yaml
  src/main.tsx
  src/pages/sys/error/Page404.tsx
Due: eslint --fix, git add ., prettier --write

fix: baseUrl
  vite.config.ts
Due: none

feat: layout
  src/layouts/_common/account-dropdown.tsx
  src/layouts/_common/bread-crumb.tsx
  src/layouts/_common/header-simple.tsx
  src/layouts/_common/language-dropdown.tsx
  src/layouts/_common/search-bar.tsx
  src/layouts/_common/setting-button.tsx
  src/layouts/dashboard/header.tsx
  src/layouts/dashboard/index.tsx
  src/layouts/dashboard/main.tsx
  src/layouts/dashboard/nav-horizontal.tsx
  src/layouts/dashboard/nav.tsx
  src/layouts/header/UserSetting.tsx
  src/layouts/header/index.tsx
  src/layouts/sidebar/TopMenu.tsx
  src/layouts/simple/index.tsx
  src/router/components/AuthRouter.tsx
  src/router/routes/index.tsx
Due: eslint --fix, git add .

refactor: layout
  src/_mock/handlers/_user.js
  src/_mock/index.js
  src/components/icon/SvgIcon.tsx
  src/layouts/_common/account-dropdown.tsx
  src/layouts/_common/language-dropdown.tsx
  src/layouts/dashboard/header.tsx
  src/layouts/dashboard/index.tsx
  src/layouts/dashboard/nav-horizontal.tsx
  src/layouts/dashboard/nav.tsx
  src/pages/sys/login/Login.tsx
Due: eslint --fix, git add .

feat: error page
  src/layouts/_common/setting-button.tsx
  src/layouts/dashboard/nav.tsx
  src/pages/Blog.tsx
  src/pages/Page404.tsx
  src/pages/User.tsx
  src/pages/sys/error/Page403.tsx
  src/pages/sys/error/Page500.tsx
  src/router/routes/index.tsx
Due: eslint --fix, git add .

feat: add animation
  src/pages/components/animate/index.tsx
  src/router/menus/index.ts
  src/router/routes/modules/components.tsx
  src/router/routes/modules/dashboard.tsx
  src/router/routes/modules/management.tsx
  types/router.ts
Due: eslint --fix, git add .

feat: 主题切换
  .prettierrc
  src/layouts/dashboard/nav.tsx
  src/pages/components/themeSwitch/index.css
  src/pages/components/themeSwitch/index.tsx
  src/router/routes/modules/components.tsx
Due: eslint --fix, git add ., stylelint "**/*.{css,scss,html}" --fix
